---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../sections/PageTitle.astro';
import SectionBrandCollaborations from '../sections/SectionBrandCollaborations.astro';
---

<Layout title="Audacity Media">
  <main>
    <PageTitle pageTitle="Brand Collaborations" />
    <SectionBrandCollaborations />
  </main>
</Layout>
