---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../sections/PageTitle.astro';
import SectionConsultingServices from '../sections/SectionConsultingServices.astro';
---

<Layout title="Audacity Media">
  <main>
    <PageTitle pageTitle="Consulting Services" />
    <SectionConsultingServices />
  </main>
</Layout>
