---
import Layout from '../layouts/Layout.astro';
import ContactSection from '../sections/ContactSection.astro';
import PageTitle from '../sections/PageTitle.astro';
import SectionContentCreation from '../sections/SectionContentCreation.astro';
---

<Layout title="Audacity Media">
  <main>
    <PageTitle pageTitle="Content Creation" />
    <SectionContentCreation />
  </main>
</Layout>
