---
import Layout from '../layouts/Layout.astro';

import Banner from '../sections/Banner.astro';
import Articles from '../sections/Articles.astro';
import ContactSection from '../sections/ContactSection.astro';
import Intro from '../sections/Intro.astro';
import Reels from '../sections/Reels.astro';
import Services from '../sections/Services.astro';
import SocialLinks from '../sections/SocialLinks.astro';
import Video from '../sections/Video.astro';
import ServicesSlider from '../sections/ServicesSlider.astro';
import RecentCollaborations from '../sections/RecentCollaborations.astro';
import InstagramCreators from '../sections/InstagramCreators.astro';
import YoutubeCreators from '../sections/YoutubeCreators.astro';
---

<Layout title="Audacity Media">
  <main>
    <Banner />
    <ServicesSlider />
    <RecentCollaborations />
    <!-- <SocialLinks /> -->
    <!-- <Intro /> -->
    <InstagramCreators />
    <!-- <YoutubeCreators /> -->
    <Services />
    <!-- <Articles /> -->
    <!-- <Reels /> -->
    <!-- <Video /> -->
    <ContactSection />
  </main>
</Layout>
