---
import Layout from '../layouts/Layout.astro';

import Banner from '../sections/Banner.astro';
import Articles from '../sections/Articles.astro';
import ContactSection from '../sections/ContactSection.astro';
import Intro from '../sections/Intro.astro';
import Reels from '../sections/Reels.astro';
import Services from '../sections/Services.astro';
import SocialLinks from '../sections/SocialLinks.astro';
import Video from '../sections/Video.astro';
import ServicesSlider from '../sections/ServicesSlider.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <Banner />
    <ServicesSlider />
    <SocialLinks />
    <Intro />
    <Services />
    <Articles />
    <Reels />
    <Video />
    <ContactSection />
  </main>
</Layout>
