---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../sections/PageTitle.astro';
import SectionBrandCollaborations from '../sections/SectionBrandCollaborations.astro';
import SectionInfluencerMarketingCampaigns from '../sections/SectionInfluencerMarketingCampaigns.astro';
---

<Layout title="Audacity Media">
  <main>
    <PageTitle pageTitle="Influencer Marketing Campaigns" />
    <SectionInfluencerMarketingCampaigns />
  </main>
</Layout>
