---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../sections/PageTitle.astro';
import SectionSocialMediaManagement from '../sections/SectionSocialMediaManagement.astro';
---

<Layout title="Audacity Media">
  <main>
    <PageTitle pageTitle="Social Media Management" />
    <SectionSocialMediaManagement />
  </main>
</Layout>
