---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../sections/PageTitle.astro';
import SectionTrainingAndWorkshops from '../sections/SectionTrainingAndWorkshops.astro';
---

<Layout title="Audacity Media">
  <main>
    <PageTitle pageTitle="Training and Workshops" />
    <SectionTrainingAndWorkshops />
  </main>
</Layout>
