<!-- ABOUT SECTION START -->
<section class="jo-inner-about">
  <div class="jo-container">
    <div class="top-wrapper">
      <div class="row gx-xl-0 gx-4 align-items-center">
        <!-- img -->
        <div class="col-xl-5 col-lg-5 align-self-stretch">
          <div class="jo-inner-about-left">
            <div class="img">
              <img src="assets/img/inner-about-img.png" alt="Image" />
              <div class="follower-tag">85.5M Followers</div>
            </div>
            <h2 class="title">Silvia Pinho</h2>
            <a href="/contact" class="jo-btn">Get in Touch</a>
            <h3 class="sub-title">typically response within 24 hours</h3>
          </div>
        </div>

        <!-- txt -->
        <div class="col-xl-7 col-lg-7">
          <div class="jo-inner-about-txt">
            <h2 class="jo-section-title">
              I'm a Social Media influencer&nbsp;&amp; digital content creator
            </h2>
            <p class="jo-intro__descr">
              VP Media is a prominent influencer marketing agency managed by Gagan Porwal, an
              influential Indian YouTuber and entrepreneur. Gagan Porwal’s YouTube channel, The
              Gagan, boasts over 2.56 million subscribers, showcasing his expertise and reach in the
              digital realm. Born and raised in Bahraich, Uttar Pradesh, Gagan has built a reputable
              career in both content creation and digital marketing.
            </p>
            <p>
              As the founder and CEO of VP Media, Gagan Porwal leads the agency in delivering a
              range of comprehensive services tailored to meet the needs of modern brands and
              influencers. VP Media specializes in:
            </p>

            <ul class="jo-intro__list">
              <li>
                Brand Collaborations: Facilitating partnerships between brands and influencers to
                create impactful marketing campaigns.
              </li>
              <li>
                Social Media Management: Managing and optimizing clients’ social media presence to
                enhance engagement and growth.
              </li>
              <li>
                Content Creation: Producing high-quality content that resonates with target
                audiences and drives brand awareness.
              </li>
              <li>
                Influencer Marketing Campaigns: Designing and executing campaigns that leverage the
                influence of social media personalities to promote products and services.
              </li>
              <li>
                SEO and Optimization: Enhancing online visibility through strategic search engine
                optimization techniques.
              </li>
              <li>
                Training and Workshops: Offering educational programs to help individuals and
                businesses navigate the digital marketing landscape.
              </li>
              <li>
                Consulting Services: Providing expert advice and strategies to improve marketing
                efforts and achieve business objectives.
              </li>
            </ul>

            <div><img src="assets/img/signature.jpg" alt="signature Image" /></div>
          </div>
        </div>
      </div>
    </div>
    <p class="jo-inner-about-second-title">
      Adacity Media helps creators like yours operate at a much larger scale <span class="txt-gold"
        >with a vital</span
      >
      <span class="txt-pink">Platform to Effectively Manage</span> and grow your network
    </p>
  </div>
</section>
<!-- ABOUT SECTION END -->
