<!-- ARTICLES SECTION START -->
<section class="jo-articles">
  <div class="jo-container">
    <div class="text-center">
      <h2 class="jo-section-title">Latest Articles & News</h2>
    </div>

    <div class="row g-sm-4 g-3">
      <!-- single article -->
      <div class="col-lg-4 col-6 col-xxs-12">
        <div class="jo-article">
          <div class="jo-article__img">
            <img src="/assets/img/jo-article-1.jpg" alt="Article Image" />

            <div class="date">
              <span class="number">10</span>
              <span class="txt">June</span>
            </div>
          </div>

          <div class="jo-article__txt">
            <div class="jo-article__infos flex gap-x-[30px] mb-[16px]">
              <!-- single info -->
              <div class="jo-article__info">
                <span class="icon"><i class="flaticon-user"></i></span>
                <span class="text font-normal text-[14px] text-etGray">By Admin</span>
              </div>

              <!-- single info -->
              <div class="jo-article__info">
                <span class="icon"><i class="flaticon-price-tag"></i></span>
                <span class="text font-normal text-[14px] text-etGray">Music</span>
              </div>
            </div>

            <h4 class="jo-article__title">
              <a href="blog-details.html">Many of those Products Offer the Potential</a>
            </h4>

            <a href="blog-details.html" class="jo-article__btn"
              >Read More <span class="icon"><i class="flaticon-arrow-right-1"></i></span></a
            >
          </div>
        </div>
      </div>

      <!-- single article -->
      <div class="col-lg-4 col-6 col-xxs-12">
        <div class="jo-article">
          <div class="jo-article__img">
            <img src="/assets/img/jo-article-2.jpg" alt="Article Image" />

            <div class="date">
              <span class="number">10</span>
              <span class="txt">June</span>
            </div>
          </div>

          <div class="jo-article__txt">
            <div class="jo-article__infos flex gap-x-[30px] mb-[16px]">
              <!-- single info -->
              <div class="jo-article__info">
                <span class="icon"><i class="flaticon-user"></i></span>
                <span class="text font-normal text-[14px] text-etGray">By Admin</span>
              </div>

              <!-- single info -->
              <div class="jo-article__info">
                <span class="icon"><i class="flaticon-price-tag"></i></span>
                <span class="text font-normal text-[14px] text-etGray">Music</span>
              </div>
            </div>

            <h4 class="jo-article__title">
              <a href="blog-details.html">Many of those Products Offer the Potential</a>
            </h4>

            <a href="blog-details.html" class="jo-article__btn"
              >Read More <span class="icon"><i class="flaticon-arrow-right-1"></i></span></a
            >
          </div>
        </div>
      </div>

      <!-- single article -->
      <div class="col-lg-4 col-6 col-xxs-12">
        <div class="jo-article">
          <div class="jo-article__img">
            <img src="/assets/img/jo-article-3.jpg" alt="Article Image" />

            <div class="date">
              <span class="number">10</span>
              <span class="txt">June</span>
            </div>
          </div>

          <div class="jo-article__txt">
            <div class="jo-article__infos flex gap-x-[30px] mb-[16px]">
              <!-- single info -->
              <div class="jo-article__info">
                <span class="icon"><i class="flaticon-user"></i></span>
                <span class="text font-normal text-[14px] text-etGray">By Admin</span>
              </div>

              <!-- single info -->
              <div class="jo-article__info">
                <span class="icon"><i class="flaticon-price-tag"></i></span>
                <span class="text font-normal text-[14px] text-etGray">Music</span>
              </div>
            </div>

            <h4 class="jo-article__title">
              <a href="blog-details.html">Many of those Products Offer the Potential</a>
            </h4>

            <a href="blog-details.html" class="jo-article__btn"
              >Read More <span class="icon"><i class="flaticon-arrow-right-1"></i></span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ARTICLES SECTION END -->
