<!-- BANNER SECTION START -->
<section class="jo-banner">
  <div class="jo-banner-container">
    <div class="row gx-0 gy-4 align-items-center">
      <div class="col-lg-7">
        <div class="jo-banner__txt">
          <div class="jo-banner__notifi">
            <img src="/assets/img/user-dp-2.png" alt="img" />
            <span>Bryan has liked</span>
            <span class="icon"><img src="/assets/img/love.svg" alt="icon" /></span>
          </div>
          <h1 class="jo-banner__title">Connecting Brands, <br />with Authentic Voices.</h1>
          <!-- Contact us to elevate your brand’s voice through powerful influencer partnerships. -->
          <div class="jo-banner__btns">
            <a href="#" class="jo-btn">About Us</a>
            <a href="#" class="jo-btn" style="display: none;"></a>
          </div>

          <!-- vector -->
          <img src="/assets/img/jo-banner-vector-1.svg" alt="vector" class="vector" />
        </div>
      </div>

      <div class="col-lg-5">
        <div class="jo-banner__img jo-contact__img">
          <img src="/assets/img/infoinfluence.png" alt="Image" />
        </div>
      </div>
    </div>
  </div>
  <img src="/assets/img/jo-banner-vector-2.svg" alt="vector" class="vector" />
</section>
<!-- BANNER SECTION END -->
