<section class="jo-inner-contact-form-section">
  <div class="jo-container">
    <div class="row row-cols-lg-2 row-cols-1">
      <!-- img -->
      <div class="col">
        <div>
          <h3 class="jo-inner-contact-from-left-title">Request a Consultation</h3>

          <div class="jo-inner-contact-img text-center">
            <img src="assets/img/inner-contact-img.png" alt="Image" />
          </div>
        </div>
      </div>

      <!-- contact form -->
      <div class="col">
        <div class="jo-inner-contact-form-wrapper">
          <h3 class="jo-inner-contact-form-title">Get in Touch</h3>

          <form action="#" class="jo-inner-contact-form">
            <div class="row g-lg-4 g-3 row-cols-sm-2">
              <div>
                <input
                  type="text"
                  name="jo-contact-name"
                  id="jo-contact-name"
                  placeholder="Full Name"
                />
              </div>
              <div>
                <input
                  type="email"
                  name="jo-contact-email"
                  id="jo-contact-email"
                  placeholder="Email Address"
                />
              </div>
              <div>
                <input
                  type="tel"
                  name="jo-contact-phone"
                  id="jo-contact-phone"
                  placeholder="Phone Number"
                />
              </div>
              <div>
                <div class="select-wrapper">
                  <select name="jo-contact-subject" id="jo-contact-subject">
                    <option data-placeholder="true">Subject</option>
                    <option value="1">Subject 1</option>
                    <option value="2">Subject 2</option>
                    <option value="3">Subject 3</option>
                    <option value="4">Subject 4</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 col-12">
                <textarea name="jo-contact-message" id="jo-contact-message" placeholder="Messages"
                ></textarea>
              </div>
            </div>
            <div class="jo-checkout-agreement-wrapper">
              <label for="jo-checkout-agreement">
                <input
                  type="checkbox"
                  name="jo-checkout-agreement"
                  id="jo-checkout-agreement"
                  hidden
                  checked
                />
                <span class="txt"
                  >Collaboratively formulate principle capital. Progressively evolve user</span
                >
              </label>
            </div>

            <button type="submit" class="submit-btn">
              Submit Now <i class="flaticon-arrow-down-sign-to-navigate"></i></button
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CONTACT SECTION END -->
