<!-- CONTACT SECTION START -->
<section class="jo-contact">
  <div class="top">
    <div class="jo-container">
      <div class="row align-items-end">
        <!-- contact form -->
        <div class="col-lg-6">
          <div class="jo-contact-form-wrapper">
            <img src="/assets/img/contact-form-icon.svg" alt="icon" class="icon" />
            <h2 class="jo-section-title">Let’s Work Together on your next Project</h2>
            <p>
              consectetur adipiscing elit. Donec non mattis nulla, in ultrices diam. Curabitur nec
              pharetra nunc. Nunc nec pellentesque nisl. Ut non mauris bibendum
            </p>
            <form action="#" class="jo-contact-form">
              <div>
                <label for="jo-contact-name">Your Name</label>
                <input type="text" name="name" id="jo-contact-name" placeholder="Your Name" />
              </div>

              <div>
                <label for="jo-contact-email">Your Email Address</label>
                <input type="email" name="email" id="jo-contact-email" placeholder="Your Email" />
              </div>

              <div>
                <label for="jo-contact-message">Write Message</label>
                <textarea name="message" id="jo-contact-message" placeholder="Write Message..."
                ></textarea>
              </div>

              <button type="submit" class="jo-btn">Send Message</button>
            </form>
          </div>
        </div>

        <!-- img -->
        <div class="col-lg-6 d-lg-block d-none">
          <div class="jo-contact__img">
            <img src="/assets/img/contact-img.png" alt="Image" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="jo-container overflow-hidden">
      <div class="row gx-5">
        <div class="col-lg-6 blank-space d-none d-lg-block"></div>

        <div class="col-lg-6">
          <h5 class="jo-partners-title">Trusted Partners</h5>
          <div class="jo-partners-slider swiper">
            <div class="swiper-wrapper">
              <!-- single partner -->
              <div class="swiper-slide">
                <img src="/assets/img/partner-1.png" alt="Partner Image" />
              </div>

              <!-- single partner -->
              <div class="swiper-slide">
                <img src="/assets/img/partner-2.png" alt="Partner Image" />
              </div>

              <!-- single partner -->
              <div class="swiper-slide">
                <img src="/assets/img/partner-3.png" alt="Partner Image" />
              </div>

              <!-- single partner -->
              <div class="swiper-slide">
                <img src="/assets/img/partner-4.png" alt="Partner Image" />
              </div>

              <!-- single partner -->
              <div class="swiper-slide">
                <img src="/assets/img/partner-1.png" alt="Partner Image" />
              </div>

              <!-- single partner -->
              <div class="swiper-slide">
                <img src="/assets/img/partner-2.png" alt="Partner Image" />
              </div>
            </div>

            <div class="jo-partners-slider-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CONTACT SECTION END -->
