<!-- FOOTER SECTION START -->
<footer class="jo-footer poppins-thin">
  <div class="jo-container poppins-thin">
    <!-- Footer Start -->
    <div class="footer-5-column">
      <div class="footer-container">
        <!-- Footer Navigation Start -->
        <div class="footer-navbar-container">
          <div class="footer-company-details">
            <!-- <div class="footer-details-inner"> -->
            <div class="footer-icons">
              <div class="col-lg-3 col-6 col-xxs-12">
                <a href="index.html"><img src="/assets/img/logo.png" alt="logo" class="logo" /></a>
              </div>
            </div>

            <div class="footer-content">
              <p>
                Frontend-Snippets is 100% free production-ready code snippets for front-end
                development. It offers a wide variety of code snippets for HTML, CSS, SCSS, and
                JavaScript. Make your Front-End Development 2X Faster.
              </p>
            </div>

            <!-- </div> -->
          </div>
          <div class="footer-navbar">
            <div class="footer-navbar-col">
              <h3>Services</h3>
              <ul>
                <li><a href="#"> Influencer Marketing </a></li>
                <li><a href="#"> content Creation </a></li>
                <li><a href="#"> Consulting </a></li>
                <li><a href="#"> Training </a></li>
              </ul>
            </div>
            <div class="footer-navbar-col">
              <h3>Links</h3>
              <ul>
                <li><a href="#"> About Us </a></li>
                <li><a href="#"> Contact Us </a></li>
                <li><a href="#"> Privicy Policy </a></li>
                <li><a href="#"> Terms and Conditions </a></li>
              </ul>
            </div>
            <div class="footer-navbar-col">
              <h3>Contact us</h3>
              <ul>
                <li><a href="#"> Commerce </a></li>
                <li><a href="#"> Analyst </a></li>
                <li><a href="#"> Insight </a></li>
                <li><a href="#"> Marketing </a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Footer Navigation End -->
        <div class="footer-copyright">
          <p>© 2023 Frontend-Snippets - All Rights Reserved</p>
        </div>
      </div>
    </div>
    <!-- Footer End-->
  </div>
</footer>

<!-- FOOTER SECTION END -->
