<!-- FOOTER SECTION START -->
<footer class="jo-footer">
  <div class="jo-container">
    <!-- footer top -->
    <div class="jo-footer-top">
      <div class="row gx-4 gy-sm-5 gy-4 align-items-center">
        <div class="col-lg-3 col-6 col-xxs-12">
          <a href="index.html"><img src="/assets/img/logo.png" alt="logo" class="logo" /></a>
        </div>
        <div class="col-lg-6 order-lg-1 order-2">
          <!-- nwsltr -->
          <form action="#" class="jo-footer-top__nwsltr">
            <input
              type="email"
              name="jo-nwsltr-email"
              id="jo-nwsltr-email"
              placeholder="Email Address"
            />
            <button class="jo-btn" type="submit">Get Newsletter</button>
          </form>
        </div>
        <!-- socials -->
        <div class="col-lg-3 col-6 col-xxs-12 order-lg-2 order-1">
          <div
            class="tt-footer-top__socials jo-footer-top__socials justify-content-start justify-content-sm-end"
          >
            <a href="#"><i class="flaticon-facebook-1"></i></a>
            <a href="#"><i class="flaticon-twitter"></i></a>
            <a href="#"><i class="flaticon-social-media"></i></a>
            <a href="#"><i class="flaticon-youtube-1"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- footer middle -->
    <div class="jo-footer-middle">
      <div class="row g-4">
        <div class="col-xl-4 col-md-6">
          <div class="jo-footer-widget jo-footer-contact">
            <h5 class="jo-footer-widget__title">Get in Touch</h5>
            <a href="mailto:contact.me@gmail.com">contact.me@gmail.com</a>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolorum asperiores cum
              quos nemo vero quidem qui perspiciatis voluptas? Iste fugiat cumque rerum deleniti
              consequuntur nihil repudiandae laborum possimus rem!
            </p>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="jo-footer-widget jo-footer-links">
            <h5 class="jo-footer-widget__title">Browse Categories</h5>
            <div class="links">
              <a href="#">Music</a>
              <a href="#">Sports</a>
              <a href="#">Gaming</a>
              <a href="#">Fashion</a>
              <a href="#">Art</a>
              <a href="#">Photography</a>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="jo-footer-widget jo-footer-gallery">
            <h5 class="jo-footer-widget__title">Instagram feed</h5>
            <div class="imgs flex-wrap">
              <img src="/assets/img/footer-img-1.jpg" alt="Footer Image" />
              <img src="/assets/img/footer-img-2.jpg" alt="Footer Image" />
              <img src="/assets/img/footer-img-3.jpg" alt="Footer Image" />
              <img src="/assets/img/footer-img-4.jpg" alt="Footer Image" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer bottom -->
    <div class="tt-footer-bottom text-center">
      <p class="mb-0">Copyright ©2024 Developed by&nbsp;Adacity Media</p>
    </div>
  </div>
</footer>
<!-- FOOTER SECTION END -->
