<!-- HEADER SECTION START -->
<header class="jo-header">
  <a href="/"><img src="/assets/img/logo.png" alt="logo" /></a>
  <div class="jo-header-right">
    <div class="jo-header-nav">
      <div class="to-go-to-sidebar-in-mobile">
        <nav>
          <a href="/">Home</a>
          <a href="/about">About Us</a>
          <div class="has-sub-menu relative">
            <a role="button">Services</a>

            <ul class="jo-header-submenu">
              <li><a href="/influencer-marketing-campaigns">Influencer Marketing Campaigns</a></li>
              <li><a href="/content-creation">Content Creation</a></li>
              <li><a href="/social-media-management">Social Media Management</a></li>
              <li><a href="/brand-collaborations">Brand Collaborations</a></li>
              <!-- <li><a href="/seo-and-optimization">SEO and Optimization</a></li> -->
              <li><a href="/training-and-workshops">Training and Workshops</a></li>
              <li><a href="/consulting-services">Consulting Services</a></li>
            </ul>
          </div>
          <a href="/contact">Contact</a>
        </nav>
      </div>
    </div>
    <div class="d-flex gap-2">
      <a href="about.html" class="jo-btn"><i class="flaticon-add-plus-button"></i>Follow Me</a>
      <button class="jo-header-sidebar-open-btn jo-btn px-3 d-inline-block d-lg-none"
        ><i class="flaticon-menu"></i></button
      >
    </div>
  </div>
</header>
<!-- HEADER SECTION END -->
