<section class="jo-social-links recent-collaborations">
  <div class="jo-container">
    <div class="row g-sm-4 g-3">
      <h5 class="jo-partners-title">Trusted Partners</h5>
      <div class="jo-partners-slider-3 swiper">
        <div class="swiper-wrapper">
          <!-- single partner -->
          <div class="swiper-slide">
            <div class="">
              <img src="/assets/img/gifs/arjyou.gif" alt=" Partner Image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="">
              <img src="/assets/img/gifs/chandan-biswal.gif" alt="Partner Image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="">
              <img src="/assets/img/gifs/creator-1.gif" alt="Partner Image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="">
              <img src="/assets/img/gifs/creator-2.gif" alt="Partner Image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="">
              <img src="/assets/img/gifs/creator-3.gif" alt="Partner Image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="">
              <img src="/assets/img/gifs/download-1.gif" alt="Partner Image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="">
              <img src="/assets/img/gifs/download-2.gif" alt="Partner Image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="">
              <img src="/assets/img/gifs/download-3.gif" alt="Partner Image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="">
              <img src="/assets/img/gifs/download-6.gif" alt="Partner Image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="">
              <img src="/assets/img/gifs/download-7.gif" alt="Partner Image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="">
              <img src="/assets/img/gifs/download-8.gif" alt="Partner Image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="">
              <img src="/assets/img/gifs/download-9.gif" alt="Partner Image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="">
              <img src="/assets/img/gifs/download-10.gif" alt="Partner Image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .recent-collaborations .jo-partners-slider-3 .swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
</style>
