<!-- REELS SECTION START -->
<section class="jo-reels">
  <div class="jo-container">
    <div class="jo-reels-heading">
      <button class="jo-slider-nav-btn jo-reels-slider-prev"
        ><i class="flaticon-left-arrow"></i></button
      >
      <h2 class="jo-section-title">Latest Video Reels</h2>
      <button class="jo-slider-nav-btn jo-reels-slider-next"
        ><i class="flaticon-right-arrow"></i></button
      >
    </div>
  </div>
  <div class="jo-reels-container">
    <div class="jo-reels-slider swiper">
      <div class="swiper-wrapper">
        <!-- single reel -->
        <div class="swiper-slide">
          <div class="jo-reel">
            <div class="jo-reel-video position-relative">
              <video
                controls
                poster="/assets/img/reel-thumb-1.jpg"
                src="https://videos.pexels.com/video-files/3402899/3402899-sd_506_960_25fps.mp4"
              ></video>
              <a href="#" class="link"
                ><img src="/assets/img/social-icon-1.png" alt="platform logo" />Facebook Reel</a
              >
            </div>
            <div class="jo-reel-txt">
              <h5 class="jo-reel-title"><a href="#">Can Robot Solve This ...?</a></h5>
              <div class="jo-reel-info">
                <span><i class="flaticon-bell"></i></span>
                <span>16M views</span>
              </div>
            </div>
          </div>
        </div>

        <!-- single reel -->
        <div class="swiper-slide">
          <div class="jo-reel">
            <div class="jo-reel-video position-relative">
              <video
                controls
                poster="/assets/img/reel-thumb-2.jpg"
                src="https://videos.pexels.com/video-files/3402899/3402899-sd_506_960_25fps.mp4"
              ></video>
              <a href="#" class="link"
                ><img src="/assets/img/social-icon-1.png" alt="platform logo" />Facebook Reel</a
              >
            </div>
            <div class="jo-reel-txt">
              <h5 class="jo-reel-title"><a href="#">Can Robot Solve This ...?</a></h5>
              <div class="jo-reel-info">
                <span><i class="flaticon-bell"></i></span>
                <span>16M views</span>
              </div>
            </div>
          </div>
        </div>

        <!-- single reel -->
        <div class="swiper-slide">
          <div class="jo-reel">
            <div class="jo-reel-video position-relative">
              <video
                controls
                poster="/assets/img/reel-thumb-3.jpg"
                src="https://videos.pexels.com/video-files/3402899/3402899-sd_506_960_25fps.mp4"
              ></video>
              <a href="#" class="link"
                ><img src="/assets/img/social-icon-1.png" alt="platform logo" />Facebook Reel</a
              >
            </div>
            <div class="jo-reel-txt">
              <h5 class="jo-reel-title"><a href="#">Can Robot Solve This ...?</a></h5>
              <div class="jo-reel-info">
                <span><i class="flaticon-bell"></i></span>
                <span>16M views</span>
              </div>
            </div>
          </div>
        </div>

        <!-- single reel -->
        <div class="swiper-slide">
          <div class="jo-reel">
            <div class="jo-reel-video position-relative">
              <video
                controls
                poster="/assets/img/reel-thumb-4.jpg"
                src="https://videos.pexels.com/video-files/3402899/3402899-sd_506_960_25fps.mp4"
              ></video>
              <a href="#" class="link"
                ><img src="/assets/img/social-icon-1.png" alt="platform logo" />Facebook Reel</a
              >
            </div>
            <div class="jo-reel-txt">
              <h5 class="jo-reel-title"><a href="#">Can Robot Solve This ...?</a></h5>
              <div class="jo-reel-info">
                <span><i class="flaticon-bell"></i></span>
                <span>16M views</span>
              </div>
            </div>
          </div>
        </div>

        <!-- single reel -->
        <div class="swiper-slide">
          <div class="jo-reel">
            <div class="jo-reel-video position-relative">
              <video
                controls
                poster="/assets/img/reel-thumb-5.jpg"
                src="https://videos.pexels.com/video-files/3402899/3402899-sd_506_960_25fps.mp4"
              ></video>
              <a href="#" class="link"
                ><img src="/assets/img/social-icon-1.png" alt="platform logo" />Facebook Reel</a
              >
            </div>
            <div class="jo-reel-txt">
              <h5 class="jo-reel-title"><a href="#">Can Robot Solve This ...?</a></h5>
              <div class="jo-reel-info">
                <span><i class="flaticon-bell"></i></span>
                <span>16M views</span>
              </div>
            </div>
          </div>
        </div>

        <!-- single reel -->
        <div class="swiper-slide">
          <div class="jo-reel">
            <div class="jo-reel-video position-relative">
              <video
                controls
                poster="/assets/img/reel-thumb-1.jpg"
                src="https://videos.pexels.com/video-files/3402899/3402899-sd_506_960_25fps.mp4"
              ></video>
              <a href="#" class="link"
                ><img src="/assets/img/social-icon-1.png" alt="platform logo" />Facebook Reel</a
              >
            </div>
            <div class="jo-reel-txt">
              <h5 class="jo-reel-title"><a href="#">Can Robot Solve This ...?</a></h5>
              <div class="jo-reel-info">
                <span><i class="flaticon-bell"></i></span>
                <span>16M views</span>
              </div>
            </div>
          </div>
        </div>

        <!-- single reel -->
        <div class="swiper-slide">
          <div class="jo-reel">
            <div class="jo-reel-video position-relative">
              <video
                controls
                poster="/assets/img/reel-thumb-2.jpg"
                src="https://videos.pexels.com/video-files/3402899/3402899-sd_506_960_25fps.mp4"
              ></video>
              <a href="#" class="link"
                ><img src="/assets/img/social-icon-1.png" alt="platform logo" />Facebook Reel</a
              >
            </div>
            <div class="jo-reel-txt">
              <h5 class="jo-reel-title"><a href="#">Can Robot Solve This ...?</a></h5>
              <div class="jo-reel-info">
                <span><i class="flaticon-bell"></i></span>
                <span>16M views</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- REELS SECTION END -->
