<!-- MAIN CONTENT SECTION START -->
<div class="jo-inner-main-content">
  <div class="jo-container">
    <div class="row justify-content-center gy-2">
      <div class="col-lg-4 order-1 order-lg-0">
        <div class="jo-service-details-sidebar">
          <div class="jo-service-details-widget overflow-hidden">
            <ul class="service-list">
              <li>
                <a class="current" href="/influencer-marketing-campaigns"
                  >Influencer Marketing Campaigns</a
                >
              </li>
              <li><a href="/content-creation">Content Creation</a></li>
              <li><a href="/social-media-management">Social Media Management</a></li>
              <li><a href="/brand-collaborations">Brand Collaborations</a></li>
              <!-- <li><a href="/seo-and-optimization">SEO and Optimization</a></li> -->
              <li><a href="/training-and-workshops">Training and Workshops</a></li>
              <li><a href="/consulting-services">Consulting Services</a></li>
            </ul>
          </div>

          <div class="jo-service-details-widget">
            <div class="jo-service-details__cta">
              <div class="img">
                <img src="assets/img/service-details-sidebar-cta-bg.jpg" alt="image" />
              </div>
              <div class="txt">
                <div class="icon"><i class="flaticon-phone-1"></i></div>
                <span class="title">Contact With Me</span>
                <a href="tel:9103214568520">+91 0321 456 8520</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 order-0 order-lg-1">
        <div class="jo-service-details-txt">
          <div class="jo-service-details-cover-img">
            <img src="assets/img/services/influencer" alt="cover image" />
          </div>
          <div class="jo-service-details__tag">
            <!-- <span class="icon"><i class="flaticon-price-tag"></i></span> -->
            <!-- <span class="txt">Brand Collaborations</span> -->
          </div>
          <h2 class="jo-service-details__title">Dance Your Way to Brand Collaborations</h2>
          <p class="jo-service-details__descr">
            <!-- write paragraph here -->
          </p>

          <ul class="jo-service-details__descr">
            <li>
              <b>Campaign Strategy </b>: Tailored marketing strategies to boost your brand’s
              visibility and engagement.
            </li>
            <li>
              <b>Influencer Identification </b>: Finding the right influencers who align with your
              brand values and target audience.
            </li>
            <li>
              <b>Campaign Management </b>: Full management of your influencer campaigns from start
              to finish.
            </li>
            <br />
          </ul>

          <h2 class="jo-service-details__title">Why do we use it?</h2>
          <p class="jo-service-details__descr">
            There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in some form, by injected humour, or randomised words which don't
            look even slightly believable. If you are going to use a passage of Lorem Ipsum, you
            need to be sure there isn't anything embarrassing hidden in the middle of text. All the
            generators on the Internet tend to repeat predefined chunks as necessary,
          </p>
          <div class="jo-service-details__inner-imgs">
            <div><img src="assets/img/service-details-img-1.jpg" alt="image" /></div>
            <div><img src="assets/img/service-details-img-2.jpg" alt="image" /></div>
          </div>
          <p class="jo-service-details__descr">
            Making this the first true generator on the Internet. It uses a dictionary of over
            combined with a handful of structures, to generate Lorem Ipsum which looks reasonable.
            The generated Lorem Ipsum is therefore always free from injected humour, or
            non-characteristic words etc.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MAIN CONTENT SECTION END -->
