<!-- SOCIAL LINKS SECTION START -->
<section class="jo-social-links">
  <div class="jo-container">
    <div class="row g-sm-4 g-3">
      <!-- single social -->
      <div class="col-md-3 col-6 col-xxs-12">
        <div class="jo-social-link">
          <div class="icon">
            <img src="/assets/img/social-icon-1.png" alt="Social Media Icon" />
          </div>
          <div class="txt">
            <h5>Facebook</h5>
            <span>20.5K followers</span>
          </div>
          <a href="#" class="jo-btn">Follow Me</a>
        </div>
      </div>

      <!-- single social -->
      <div class="col-md-3 col-6 col-xxs-12">
        <div class="jo-social-link">
          <div class="icon">
            <img src="/assets/img/social-icon-2.png" alt="Social Media Icon" />
          </div>
          <div class="txt">
            <h5>Instagram</h5>
            <span>30.9K followers</span>
          </div>
          <a href="#" class="jo-btn">Follow Me</a>
        </div>
      </div>

      <!-- single social -->
      <div class="col-md-3 col-6 col-xxs-12">
        <div class="jo-social-link">
          <div class="icon">
            <img src="/assets/img/social-icon-3.png" alt="Social Media Icon" />
          </div>
          <div class="txt">
            <h5>Tiktok</h5>
            <span>2.5M followers</span>
          </div>
          <a href="#" class="jo-btn">Follow Me</a>
        </div>
      </div>

      <!-- single social -->
      <div class="col-md-3 col-6 col-xxs-12">
        <div class="jo-social-link">
          <div class="icon">
            <img src="/assets/img/social-icon-4.png" alt="Social Media Icon" />
          </div>
          <div class="txt">
            <h5>YouTube</h5>
            <span>1.69M Sbscribers</span>
          </div>
          <a href="#" class="jo-btn">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SOCIAL LINKS SECTION END -->
