<!-- SERVICES SECTION START -->
<section class="jo-services">
  <div class="jo-container">
    <div class="jo-services-wrapper">
      <div class="heading">
        <h2 class="jo-section-title mb-0">Explore Our Services</h2>
        <a href="#" class="jo-btn">View All Services</a>
      </div>

      <div class="jo-services-tabs-wrapper">
        <div class="jo-services-tab-navs">
          <button class="tab-nav active" data-tab="service-1">Influencer Marketing Campaigns</button
          >
          <button class="tab-nav" data-tab="service-2">Content Creation</button>
          <button class="tab-nav" data-tab="service-3">Social Media Management</button>
          <button class="tab-nav" data-tab="service-4">Brand Collaborations</button>
          <!-- <button class="tab-nav" data-tab="service-5">SEO and Optimization</button> -->
          <button class="tab-nav" data-tab="service-6">Training and Workshops</button>
          <button class="tab-nav" data-tab="service-7">Consulting Services</button>
        </div>

        <div class="tabs-container">
          <!-- single tab / tab 01 -->
          <div class="tt-tab active" id="service-1">
            <div class="tt-service-tab">
              <!-- img -->
              <div class="img">
                <img src="/assets/img/service.jpg" alt="service image" />
              </div>

              <!-- txt -->
              <div class="txt">
                <h5 class="title">Influencer Marketing Campaigns</h5>
                <p class="descr">
                  consectetur adipiscing elit. Donec non mattis nulla, in ultrices diam. Curabitur
                  nec pharetra nunc. Nunc nec pellentesque nisl. Ut non mauris bibendum nunc
                  pharetra laoreet sed eget mauris. Donec eget fermentum libero, ac aliquet lectus.
                </p>
                <ul class="list">
                  <li>Unlimited influencer search</li>
                  <li>Unlimited direct messages with freelancer.</li>
                  <li>Unlimited requests for with celebrities.</li>
                  <li>Unlimited project tracking</li>
                  <li>Unlimited Campaign monitoring.</li>
                  <li>Goal Setting Begin by clearly defining</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- single tab / tab 02 -->
          <div class="tt-tab" id="service-2">
            <div class="tt-service-tab">
              <!-- img -->
              <div class="img">
                <img src="https://media.istockphoto.com/id/183358019/photo/letterpress-content-creation.jpg?s=1024x1024&w=is&k=20&c=5rGYq4jjFV66ojeqNgKw9CscuiQV4jQxeYqT8KkJV7s=" alt="service image" />
              </div>

              <!-- txt -->
              <div class="txt">
                <h5 class="title">Content Creation</h5>
                <p class="descr">
                  consectetur adipiscing elit. Donec non mattis nulla, in ultrices diam. Curabitur
                  nec pharetra nunc. Nunc nec pellentesque nisl. Ut non mauris bibendum nunc
                  pharetra laoreet sed eget mauris. Donec eget fermentum libero, ac aliquet lectus.
                </p>
                <ul class="list">
                  <li>Unlimited influencer search</li>
                  <li>Unlimited direct messages with freelancer.</li>
                  <li>Unlimited requests for with celebrities.</li>
                  <li>Unlimited project tracking</li>
                  <li>Unlimited Campaign monitoring.</li>
                  <li>Goal Setting Begin by clearly defining</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- single tab / tab 03 -->
          <div class="tt-tab" id="service-3">
            <div class="tt-service-tab">
              <!-- img -->
              <div class="img">
                <img src="https://images.unsplash.com/photo-1724754608847-afa768169635?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHNvY2lhbCUyMG1lZGlhJTIwbWFuYWdlbWVudHxlbnwwfHwwfHx8MA%3D%3D" alt="service image" />
              </div>

              <!-- txt -->
              <div class="txt">
                <h5 class="title">Social Media Management</h5>
                <p class="descr">
                  consectetur adipiscing elit. Donec non mattis nulla, in ultrices diam. Curabitur
                  nec pharetra nunc. Nunc nec pellentesque nisl. Ut non mauris bibendum nunc
                  pharetra laoreet sed eget mauris. Donec eget fermentum libero, ac aliquet lectus.
                </p>
                <ul class="list">
                  <li>Unlimited influencer search</li>
                  <li>Unlimited direct messages with freelancer.</li>
                  <li>Unlimited requests for with celebrities.</li>
                  <li>Unlimited project tracking</li>
                  <li>Unlimited Campaign monitoring.</li>
                  <li>Goal Setting Begin by clearly defining</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- single tab / tab 04 -->
          <div class="tt-tab" id="service-4">
            <div class="tt-service-tab">
              <!-- img -->
              <div class="img">
                <img src="https://media.istockphoto.com/id/850881300/photo/brand-business-concept.webp?a=1&b=1&s=612x612&w=0&k=20&c=twfo4VNyxue2VCf5XavMFgKvtQUgCrhoVgF4cFu6IiE=" alt="service image" />
              </div>

              <!-- txt -->
              <div class="txt">
                <h5 class="title">Brand Collaborations</h5>
                <p class="descr">
                  consectetur adipiscing elit. Donec non mattis nulla, in ultrices diam. Curabitur
                  nec pharetra nunc. Nunc nec pellentesque nisl. Ut non mauris bibendum nunc
                  pharetra laoreet sed eget mauris. Donec eget fermentum libero, ac aliquet lectus.
                </p>
                <ul class="list">
                  <li>Unlimited influencer search</li>
                  <li>Unlimited direct messages with freelancer.</li>
                  <li>Unlimited requests for with celebrities.</li>
                  <li>Unlimited project tracking</li>
                  <li>Unlimited Campaign monitoring.</li>
                  <li>Goal Setting Begin by clearly defining</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- single tab / tab 05 -->
          <div class="tt-tab" id="service-5">
            <div class="tt-service-tab">
              <!-- img -->
              <div class="img">
                <img src="https://images.unsplash.com/photo-1584143257261-e16224e2c9df?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fFRyYWluaW5nJTIwYW5kJTIwd29ya3Nob3BzfGVufDB8fDB8fHww" alt="service image" />
              </div>

              <!-- txt -->
              <div class="txt">
                <h5 class="title">Training And Workshops</h5>
                <p class="descr">
                  consectetur adipiscing elit. Donec non mattis nulla, in ultrices diam. Curabitur
                  nec pharetra nunc. Nunc nec pellentesque nisl. Ut non mauris bibendum nunc
                  pharetra laoreet sed eget mauris. Donec eget fermentum libero, ac aliquet lectus.
                </p>
                <ul class="list">
                  <li>Unlimited influencer search</li>
                  <li>Unlimited direct messages with freelancer.</li>
                  <li>Unlimited requests for with celebrities.</li>
                  <li>Unlimited project tracking</li>
                  <li>Unlimited Campaign monitoring.</li>
                  <li>Goal Setting Begin by clearly defining</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- single tab / tab 06 -->
          <div class="tt-tab" id="service-6">
            <div class="tt-service-tab">
              <!-- img -->
              <div class="img">
                <img src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fGNvbnN1bHRpbmclMjBzZXJ2aWNlc3xlbnwwfHwwfHx8MA%3D%3D" alt="service image" />
              </div>

              <!-- txt -->
              <div class="txt">
                <h5 class="title">Training and Workshops</h5>
                <p class="descr">
                  consectetur adipiscing elit. Donec non mattis nulla, in ultrices diam. Curabitur
                  nec pharetra nunc. Nunc nec pellentesque nisl. Ut non mauris bibendum nunc
                  pharetra laoreet sed eget mauris. Donec eget fermentum libero, ac aliquet lectus.
                </p>
                <ul class="list">
                  <li>Unlimited influencer search</li>
                  <li>Unlimited direct messages with freelancer.</li>
                  <li>Unlimited requests for with celebrities.</li>
                  <li>Unlimited project tracking</li>
                  <li>Unlimited Campaign monitoring.</li>
                  <li>Goal Setting Begin by clearly defining</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- single tab / tab 07 -->
          <div class="tt-tab" id="service-7">
            <div class="tt-service-tab">
              <!-- img -->
              <div class="img">
                <img src="https://images.unsplash.com/photo-1551731409-43eb3e517a1a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fFRyYWluaW5nJTIwYW5kJTIwd29ya3Nob3BzfGVufDB8fDB8fHww" alt="service image" />
              </div>

              <!-- txt -->
              <div class="txt">
                <h5 class="title">Consulting and Services</h5>
                <p class="descr">
                  consectetur adipiscing elit. Donec non mattis nulla, in ultrices diam. Curabitur
                  nec pharetra nunc. Nunc nec pellentesque nisl. Ut non mauris bibendum nunc
                  pharetra laoreet sed eget mauris. Donec eget fermentum libero, ac aliquet lectus.
                </p>
                <ul class="list">
                  <li>Unlimited influencer search</li>
                  <li>Unlimited direct messages with freelancer.</li>
                  <li>Unlimited requests for with celebrities.</li>
                  <li>Unlimited project tracking</li>
                  <li>Unlimited Campaign monitoring.</li>
                  <li>Goal Setting Begin by clearly defining</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SERVICES SECTION END -->
