<section class="jo-social-links">
  <div class="jo-container">
    <div class="row g-sm-4 g-3">
      <h5 class="jo-partners-title">Everything that you'll ever need</h5>
      <div class="jo-partners-slider-2 swiper">
        <div class="swiper-wrapper">
          <!-- single partner -->
          <div class="swiper-slide">
            <img src="/assets/img/services/linkedin.webp" alt="Partner Image" />
          </div>
          <div class="swiper-slide">
            <img src="/assets/img/services/marketing-1.webp" alt="Partner Image" />
          </div>
          <div class="swiper-slide">
            <img src="/assets/img/services/marketing-3.webp" alt="Partner Image" />
          </div>
          <div class="swiper-slide">
            <img src="/assets/img/services/marketing-4.webp" alt="Partner Image" />
          </div>
          <div class="swiper-slide">
            <img src="/assets/img/services/marketing-5.webp" alt="Partner Image" />
          </div>
          <div class="swiper-slide">
            <img src="/assets/img/services/marketing-6.webp" alt="Partner Image" />
          </div>
          <div class="swiper-slide">
            <img src="/assets/img/services/marketing-10.webp" alt="Partner Image" />
          </div>
          <div class="swiper-slide">
            <img src="/assets/img/services/regional-influencer.webp" alt="Partner Image" />
          </div>
          <div class="swiper-slide">
            <img src="/assets/img/services/twitter-campaign.webp" alt="Partner Image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
