<!-- sidebar -->
<div class="jo-sidebar">
  <div>
    <!-- heading -->
    <div class="jo-sidebar__heading d-flex justify-content-between align-items-center">
      <a href="#"><img src="/assets/img/logo.svg" alt="logo" class="logo" /></a>
      <button type="button" class="jo-sidebar-close-btn"
        ><i class="flaticon-add-plus-button"></i></button
      >
    </div>

    <!-- mobile menu -->
    <div class="jo-header-nav-in-mobile"></div>
  </div>

  <div>
    <a href="about.html" class="jo-btn"><i class="flaticon-add-plus-button"></i>Follow Me</a>
    <!-- socials -->
    <div
      class="tt-footer-top__socials jo-footer-top__socials jo-sidebar-socials justify-content-start justify-content-sm-end"
    >
      <a href="#"><i class="flaticon-facebook-1"></i></a>
      <a href="#"><i class="flaticon-twitter"></i></a>
      <a href="#"><i class="flaticon-social-media"></i></a>
      <a href="#"><i class="flaticon-youtube-1"></i></a>
    </div>
  </div>
</div>
