<!-- VIDEOS SECTION START -->
<section class="jo-videos">
  <div class="jo-container">
    <!-- heading -->
    <div class="jo-videos__heading">
      <h2 class="jo-section-title">My Latest Premium Videos</h2>
      <a href="videos-1.html" class="jo-btn jo-videos__btn"
        ><i class="flaticon-premium-quality"></i> View All Videos</a
      >
    </div>
  </div>

  <!-- video cards -->
  <div class="jo-videos-slider splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="jo-video-card">
            <img
              src="/assets/img/jo-video-1.jpg"
              alt="Video Thumbnail"
              class="jo-video-card__img"
            />

            <div class="jo-video-card__txt">
              <div class="d-flex justify-content-between">
                <a
                  href="https://youtu.be/vc3WCrgYpF0?si=W2iFDfdDYsh6spKg"
                  data-fslightbox="videos"
                  class="jo-video-card__btn"><i class="flaticon-play"></i></a
                >
                <span class="jo-video-card__premium-tag"
                  ><i class="flaticon-premium-quality"></i></span
                >
              </div>

              <div class="bottom">
                <span class="price">$5.00</span>
                <h5>
                  <a href="video-details.html" class="jo-video-card__title"
                    >Smiley woman pop party studio medium shot</a>
                </h5>
                <div class="tt-video__infos jo-video-card__infos">
                  <span>16M views</span>
                  <span>49 minutes ago</span>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="splide__slide">
          <div class="jo-video-card">
            <img
              src="/assets/img/jo-video-2.jpg"
              alt="Video Thumbnail"
              class="jo-video-card__img"
            />

            <div class="jo-video-card__txt">
              <div class="d-flex justify-content-between">
                <a
                  href="https://youtu.be/vc3WCrgYpF0?si=W2iFDfdDYsh6spKg"
                  data-fslightbox="videos"
                  class="jo-video-card__btn"><i class="flaticon-play"></i></a
                >
                <span class="jo-video-card__premium-tag"
                  ><i class="flaticon-premium-quality"></i></span
                >
              </div>

              <div class="bottom">
                <span class="price">$5.00</span>
                <h5>
                  <a href="video-details.html" class="jo-video-card__title"
                    >Smiley woman pop party studio medium shot</a>
                </h5>
                <div class="tt-video__infos jo-video-card__infos">
                  <span>16M views</span>
                  <span>49 minutes ago</span>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="splide__slide">
          <div class="jo-video-card">
            <img
              src="/assets/img/jo-video-3.jpg"
              alt="Video Thumbnail"
              class="jo-video-card__img"
            />

            <div class="jo-video-card__txt">
              <div class="d-flex justify-content-between">
                <a
                  href="https://youtu.be/vc3WCrgYpF0?si=W2iFDfdDYsh6spKg"
                  data-fslightbox="videos"
                  class="jo-video-card__btn"><i class="flaticon-play"></i></a
                >
                <span class="jo-video-card__premium-tag"
                  ><i class="flaticon-premium-quality"></i></span
                >
              </div>

              <div class="bottom">
                <span class="price">$5.00</span>
                <h5>
                  <a href="video-details.html" class="jo-video-card__title"
                    >Smiley woman pop party studio medium shot</a>
                </h5>
                <div class="tt-video__infos jo-video-card__infos">
                  <span>16M views</span>
                  <span>49 minutes ago</span>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="jo-videos-slider-2 splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="jo-video-card">
            <img
              src="/assets/img/jo-video-4.jpg"
              alt="Video Thumbnail"
              class="jo-video-card__img"
            />

            <div class="jo-video-card__txt">
              <div class="d-flex justify-content-between">
                <a
                  href="https://youtu.be/vc3WCrgYpF0?si=W2iFDfdDYsh6spKg"
                  data-fslightbox="videos"
                  class="jo-video-card__btn"><i class="flaticon-play"></i></a
                >
                <span class="jo-video-card__premium-tag d-none"
                  ><i class="flaticon-premium-quality"></i></span
                >
              </div>

              <div class="bottom">
                <span class="price">Free</span>
                <h5>
                  <a href="video-details.html" class="jo-video-card__title"
                    >Smiley woman pop party studio medium shot</a>
                </h5>
                <div class="tt-video__infos jo-video-card__infos">
                  <span>16M views</span>
                  <span>49 minutes ago</span>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="splide__slide">
          <div class="jo-video-card">
            <img
              src="/assets/img/jo-video-5.jpg"
              alt="Video Thumbnail"
              class="jo-video-card__img"
            />

            <div class="jo-video-card__txt">
              <div class="d-flex justify-content-between">
                <a
                  href="https://youtu.be/vc3WCrgYpF0?si=W2iFDfdDYsh6spKg"
                  data-fslightbox="videos"
                  class="jo-video-card__btn"><i class="flaticon-play"></i></a
                >
                <span class="jo-video-card__premium-tag"
                  ><i class="flaticon-premium-quality"></i></span
                >
              </div>

              <div class="bottom">
                <span class="price">$5.00</span>
                <h5>
                  <a href="video-details.html" class="jo-video-card__title"
                    >Smiley woman pop party studio medium shot</a>
                </h5>
                <div class="tt-video__infos jo-video-card__infos">
                  <span>16M views</span>
                  <span>49 minutes ago</span>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="splide__slide">
          <div class="jo-video-card">
            <img
              src="/assets/img/jo-video-6.jpg"
              alt="Video Thumbnail"
              class="jo-video-card__img"
            />

            <div class="jo-video-card__txt">
              <div class="d-flex justify-content-between">
                <a
                  href="https://youtu.be/vc3WCrgYpF0?si=W2iFDfdDYsh6spKg"
                  data-fslightbox="videos"
                  class="jo-video-card__btn"><i class="flaticon-play"></i></a
                >
                <span class="jo-video-card__premium-tag"
                  ><i class="flaticon-premium-quality"></i></span
                >
              </div>

              <div class="bottom">
                <span class="price">$5.00</span>
                <h5>
                  <a href="video-details.html" class="jo-video-card__title"
                    >Smiley woman pop party studio medium shot</a>
                </h5>
                <div class="tt-video__infos jo-video-card__infos">
                  <span>16M views</span>
                  <span>49 minutes ago</span>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- VIDEOS SECTION END -->
