---
import Sidebar from '../sections/Sidebar.astro';
import Header from '../sections/Header.astro';
import Footer from '../sections/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- libraries CSS -->
    <link rel="stylesheet" href="/assets/font/flaticon_jio_-_influencer.css" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/vendor/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/assets/vendor/splide/splide.min.css" />
    <link rel="stylesheet" href="/assets/vendor/plyr/plyr.css" />
    <link rel="stylesheet" href="/assets/vendor/slim-select/slimselect.css" />
    <link rel="stylesheet" href="/assets/vendor/no-ui-slider/nouislider.min.css" />
    <!-- custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Sidebar />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <!-- libraries JS -->
    <script is:inline src="/assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script is:inline src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script is:inline src="/assets/vendor/splide/splide.min.js"></script>
    <script is:inline src="/assets/vendor/splide/splide-extension-auto-scroll.min.js"></script>
    <script is:inline src="/assets/vendor/slim-select/slimselect.min.js"></script>
    <script is:inline src="/assets/vendor/plyr/plyr.polyfilled.js"></script>
    <script is:inline src="/assets/vendor/no-ui-slider/nouislider.min.js"></script>
    <script is:inline src="/assets/vendor/fs-lightbox/fslightbox.js"></script>

    <!-- custom js -->
    <script is:inline src="/assets/js/main.js"></script>
  </body>
</html>
